* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.center {
  width: 15rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 3rem;
  font-weight: 600;
}
