.container {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnMain {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.4rem 1rem;
  background-color: royalblue;
  color: #fff;
}
